{# News index template #}

{% extends "_layout" %}
{% set title = "News" %}

{% block content %}

	<section id="news">

		{% for date, entries in craft.entries.section('news').find() | group("postDate|date('F Y')") %}
			<h3 class="groupDate">{{ date }}</h3>
			{% for entry in entries %}
			<article>
				<h4 class="newsDate">{{ entry.postDate.format('n.d.Y') }}</h4>
				<div class="newsVideo">
					<img src="/public/video/screenshot/screenshot-test.jpeg">
				</div>
				<div class="newsText">
					{{ entry.body }}
				</div>
			</article>
			{% endfor %}
		{% endfor %}
	
	</section>
	
{% endblock %}
