{# Work index template #}

{% extends "_layout" %}
{% set title = "Work" %}

{% block content %}



	<section id="videoPlayer">
		{% for ourWorkGallery in craft.entries.section('ourWork').find() %}
			{% set GalleryList = ourWorkGallery.videoSelection %}
			{% for entry in GalleryList %}
			<video id="video_fullwidth" class="video-js vjs-default-skin vjs-big-play-centered topVideo {{ entry.id }}" preload="none" controls volume="7" data-setup='{"example_option":true}'
			poster="{% for image in entry.screenshot.limit(1) %}{{ image.getUrl() }}{% endfor %}">
				{% for mp4 in entry.videoMP4 %}
					<source src="{{ mp4.getUrl() }}" type="video/mp4">
				{% endfor %}
				{% for ogg in entry.videoOGG %}
					<source src="{{ ogg.getUrl() }}" type="video/ogg">
				{% endfor %}
				Video not supported
			</video>
			{% endfor %}
		{% endfor %}
	</section>
	
	<select class="dropdown" id="dropdown">
		<option style="display:none;" name="videotype">Show Only...</option>
		<option name="showAll" value="showAll">Show All</option>
		{% set field = craft.fields.getFieldByHandle('videoCategories') %}
		{% for opt in field.settings.options %}
			<option name="fields[videoCategories][]" value="{{ opt.value }}">{{ opt.label }}</option>
		{% endfor %}
	</select>
	
	<script>
		$(document).on("change", "#dropdown", function(){
			if ($(this).val() == "showAll") {
			    $(".workItem").fadeIn("slow").addClass("grid");
		    } else  {
		        $(".workItem").hide("fast").removeClass("grid");
				$('.' + $(this).val()).fadeIn("slow").addClass("grid");
				$("#videoPlayer").hide();
		    }
		});
	</script>
	
	<section id="workGallery">
		{% for ourWorkGallery in craft.entries.section('ourWork').find() %}
			{% set GalleryList = ourWorkGallery.videoSelection %}
			{% for entry in GalleryList %}
				<div class="workItem {% for option in entry.videoCategories %} {{ option }} {% endfor %} {{ entry.id }} grid">
					<div class="workTitling">
						<h1>{{ entry.client }}</h1>
						<h2>{{ entry.projectName }}</h2>
					</div>
					{% for image in entry.screenshot.limit(1) %}
						<img src="{{ image.getUrl('screencap') }}">
					{% endfor %}
				</div>
				<script>
					$(window).load(function() {
						$(".workItem.{{ entry.id }}").click(function() {
							$("#videoPlayer").slideDown("slow");
							$("html, body").animate({ scrollTop: 0 }, 600);
							$(".topVideo").hide(function() {
								$(this).children('#video_fullwidth_html5_api').get(0).pause();
							});
							$("#videoPlayer").animate({
							    opacity: 1,
							  }, 100, function() {
							    // Animation complete.
							});
							$(".{{ entry.id }}").slideDown("slow", function() {
								$(this).children('#video_fullwidth_html5_api').get(0).play();
							});
						});
					});
				</script>
			{% endfor %}
		{% endfor %}
	</section>

	

	<script>
		$(window).load(function() {
			$(".workItem").click(function() {
				$('audio,video').each(function() {
					this.pause();
				});
			});
		
			$('audio,video').bind('play', function() {
				activated = this;
				$('audio,video').each(function() {
					if(this != activated) this.pause();
				});
			});
		});
	</script>

{% endblock %}
