{# Directors entry template #}

{% extends "_layout" %}

{% block content %}

	<section id="videoPlayer">
		{% for entry in craft.entries.section('work').find() %}
			<video id="video_fullwidth" class="video-js vjs-default-skin topVideo {{ entry.id }}" preload="auto" controls volume="7" data-setup='{"example_option":true}'
			poster="{% for image in entry.screenshot.limit(1) %}{{ image.getUrl() }}{% endfor %}">
				{% for mp4 in entry.videoMP4 %}
					<source src="{{ mp4.getUrl() }}" type="video/mp4">
				{% endfor %}
				{% for ogg in entry.videoOGG %}
					<source src="{{ ogg.getUrl() }}" type="video/ogg">
				{% endfor %}
				Video not supported
			</video>
		{% endfor %}
	</section>

	<section id="directorInfo">
		<h2>{{ entry.title }}</h2>
		<em>{{ entry.workType }}</em>
		{{ entry.body }}
	</section>
	
	<section id="workGallery">
		{% for work in entry.videoSelection %}
            <div class="workItem {{ work.id }}">
				<div class="workTitling">
					<h1>{{ work.client }}</h1>
					<h2>{{ work.projectName }}</h2>
				</div>
				{% for image in work.screenshot.limit(1) %}
					<img src="{{ image.getUrl() }}">
				{% endfor %}
			</div>
        {% endfor %}
	</section>
	
	{% for entry in craft.entries.section('work').find() %}
	<script>
		$(window).load(function() {
			$(".workItem.{{ entry.id }}").click(function() {
				$("#videoPlayer").slideDown("slow");
				$("html, body").animate({ scrollTop: 0 }, 600);
				$(".topVideo").hide(function() {
					$(this).children('#video_fullwidth_html5_api').get(0).pause();
				});
				$("#videoPlayer").animate({
				    opacity: 1,
				  }, 100, function() {
				    // Animation complete.
				});
				$(".{{ entry.id }}").slideDown("slow", function() {
					$(this).children('#video_fullwidth_html5_api').get(0).play();
				});
			});
		});
	</script>
	{% endfor %}
		

{% endblock %}
