{# Directors entry template #}

{% extends "_layout" %}

{% block content %}

	<!-- Video Player -->
	<section id="videoPlayer">
		{% for entry in craft.entries.section('work').find() %}
			<video id="video_{{ entry.id }}" class="video-js vjs-default-skin topVideo video_{{ entry.id }}" preload="none" controls volume="7" data-setup='{"example_option":true, "autoplay":false, "preload":false}' data-workid="{{ entry.id }}" 
			poster="{% for image in entry.screenshot.limit(1) %}{{ image.getUrl() }}{% endfor %}">
				{% for mp4 in entry.videoMP4 %}
					<source src="{{ mp4.getUrl() }}" type="video/mp4">
				{% endfor %}
				{% for ogg in entry.videoOGG %}
					<source src="{{ ogg.getUrl() }}" type="video/ogg">
				{% endfor %}
				Video not supported
			</video>
		{% endfor %}
	</section>

	<section id="directorInfo">
		<h2>{{ entry.title }}</h2>
		<em>{{ entry.workType }}</em>
		{{ entry.body }}
	</section>
	
	<section id="workGallery">
		{% for work in entry.videoSelection %}
            <div class="workItem video_{{ work.id }}" data-workid="{{ work.id }}">
				<div class="workTitling">
					<h1>{{ work.client }}</h1>
					<h2>{{ work.projectName }}</h2>
				</div>
				{% for image in work.screenshot.limit(1) %}
					<img src="{{ image.getUrl('screencap') }}">
				{% endfor %}
			</div>
        {% endfor %}
	</section>
		

{% endblock %}
