{# Directors index template #}

{% extends "_layout" %}
{% set title = "Directors" %}

{% block content %}

	<!-- Video Player -->
	<section id="videoPlayer">
		
		{% for directors in entry.directorSelection %}
			        {% for entry in directors.videoSelection.limit(3) %}
						<video id="video_{{ entry.id }}" class="video-js vjs-default-skin vjs-big-play-centered topVideo video_{{ entry.id }}" controls preload="none" volume="7" data-setup='{"example_option":true, "autoplay":false}' data-workid="{{ entry.id }}" 
						poster="{% for image in entry.screenshot.limit(1) %}{{ image.getUrl() }}{% endfor %}">
							{% for mp4 in entry.videoMP4 %}
								<source src="{{ mp4.getUrl() }}" type="video/mp4">
							{% endfor %}
							{% for ogg in entry.videoOGG %}
								<source src="{{ ogg.getUrl() }}" type="video/ogg">
							{% endfor %}

							Video not supported
						</video>
			        {% endfor %}
		{% endfor %}
	</section>
	
	<!-- Director Listing -->
	<section id="directors">
		{% for directors in entry.directorSelection %}
			<div class="director">
				<h3>{{ directors.title }}</h3>
				<div class="directorVideos">
			        {% for work in directors.videoSelection.limit(3) %}
			            <div class="workItem video_{{ work.id }}" data-workid="{{ work.id }}">
							<div class="workTitling">
								<h1>{{ work.client }}</h1>
								<h2>{{ work.projectName }}</h2>
							</div>
							{% for image in work.screenshot.limit(1) %}
								<img src="{{ image.getUrl('screencap') }}">
							{% endfor %}
						</div>
			        {% endfor %}
				</div>
				<a href="{{ directors.url }}" class="viewAll"><h4>View All</h4><img src="/public/img/arrow.png"></a>
			</div>
		{% endfor %}
	</section>
	
	
{% endblock %}
