{# Homepage template #}

{% extends "_layout" %}

{% block content %}

	<section id="homepage-slideshow">
		<div class="flexslider">
			<ul class="slides">
			{% for video in entry.videoSelection %}
				<li>
					<article class="slideshow video">
						
						<video id="video_{{ video.id }}" class="video-js vjs-default-skin video_fullwidth topVideo video_{{ video.id }}" preload="none" controls volume="7" data-setup='{"example_option":true, "autoplay":false, "preload":false}' data-workid="{{ video.id }}" poster="{% for image in video.screenshot.limit(1) %}{{ image.getUrl() }}{% endfor %}">
							poster="{% for image in entry.screenshot.limit(1) %}{{ image.getUrl() }}{% endfor %}">
							{% for mp4 in video.videoMP4 %}
								<source src="{{ mp4.getUrl() }}" type="video/mp4">
							{% endfor %}
							{% for ogg in video.videoOGG %}
								<source src="{{ ogg.getUrl() }}" type="video/ogg">
							{% endfor %}
							Video not supported
						</video>
						
						<div class="video-info">
							<h1>{{ video.client }}</h1>
							<h3>{{ video.projectName }}</h3>
						</div>
					</article>
				</li>
			{% endfor %}
			</ul>
		</div>
	</section>


{% endblock %}
