{# Homepage template #}

{% extends "_layout" %}

{% block content %}

	<section id="homepage-slideshow">
		<div class="flexslider">
			<ul class="slides">
			{% for video in entry.videoSelection %}
				<li>
					<article class="slideshow video">
						
						<video id="video_fullwidth" class="video-js vjs-default-skin video_fullwidth" data-setup="{'preload':false}" preload="none" controls volume="7" poster="{% for image in video.screenshot.limit(1) %}{{ image.getUrl() }}{% endfor %}">
							{% for mp4 in video.videoMP4 %}
								<source src="{{ mp4.getUrl() }}" type="video/mp4">
							{% endfor %}
							{% for ogg in video.videoOGG %}
								<source src="{{ ogg.getUrl() }}" type="video/ogg">
							{% endfor %}
							Video not supported
						</video>
						
						<div class="video-info">
							<h1>{{ video.client }}</h1>
							<h3>{{ video.projectName }}</h3>
						</div>
					</article>
				</li>
			{% endfor %}
			</ul>
		</div>
	</section>
	
	<script>
		$(window).load(function() {

			$('.flexslider').flexslider({
			  animation: "slide",
			  slideshow: false
			});

			$(".flex-direction-nav").click(function() {
				$('audio,video').each(function() {
					this.pause();
				});
			});
			$(".flex-control-nav").click(function() {
				$('audio,video').each(function() {
					this.pause();
				});
			});
			
			$('audio,video').bind('play', function() {
				activated = this;
				$('audio,video').each(function() {
					if(this != activated) this.pause();
				});
			});
		});

	</script>

{% endblock %}
